<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
      <div class="container">
        <router-link :to="{ name: 'home' }" class="navbar-brand"
          >Home</router-link
        >
        <router-link
          v-if="
            $store.state.loggedUser && $store.state.loggedUser.type === 'EM' && $store.state.loggedUser.blocked != 1
          "
          :to="{ name: 'users' }"
          class="navbar-brand"
          >Users</router-link
        >
        <router-link
          :to="{ name: 'menu'}"
          class="navbar-brand"
          >Menu</router-link
        >
        <a v-if="!$store.state.loggedUser" href="#" @click.prevent="toggleLogin()">Login</a>
        <a v-if="$store.state.loggedUser" href="#" @click.prevent="logout">Logout</a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-link">Food@Home</li>
          </ul>
        </div>
      </div>
    </nav>
    <error v-if="errorMessage" :message="errorMessage"></error>

    <login
      v-if="!$store.state.loggedUser && loginForm"
      :credentials="credentials"
      @login="login()"
    ></login>
    <main class="py-4">
      <router-view></router-view>
    </main>
  </div>
</template>
<script>
import LoginComponent from "../components/login";
import ErrorComponent from "../components/error";
import ImagePickerComponent from "../components/image-picker";

export default {
  data: function () {
    return {
      credentials: {},
      loginForm: false,
      errorMessage: false,
    };
  },
  methods: {
    toggleLogin() {
      this.loginForm = !this.loginForm;
    },
    login() {
      axios.get("/sanctum/csrf-cookie").then((response) => {
        axios
          .post("/api/login", this.credentials)
          .then((response) => {
            this.errorMessage = false;
            console.log("User has logged in");
            this.$store.state.loggedUser = response.data;
            if (this.$store.state.loggedUser.blocked == "1") {
              this.errorMessage = "You have been blocked by an administrator!";
            }
            axios
              .post("/api/users/" + this.$store.state.loggedUser.id + "/logged", {
                logged_at: new Date().toISOString(),
              })
              .then((response) => {
                this.$store.state.loggedUser = response.data;
                console.dir(this.$store.state.loggedUser);
              });
          })
          .catch((error) => {
            console.log(error);
            this.errorMessage = "Invalid Authentication";
          });
      });
      //this.credentials = {};
    },
    logout() {
      if (this.$store.state.loggedUser != "C") {
        axios.post("/api/users/" + this.$store.state.loggedUser.id + "/available", {
          available_at: null,
        });
      }
      axios.post("/api/users/" + this.$store.state.loggedUser.id + "/logged", {
        logged_at: null,
      });
      axios
        .post("/api/logout")
        .then((response) => {
          console.log("User has logged out");
          this.errorMessage = false;
          this.$store.state.loggedUser = null;
          this.loginForm = false;
          this.$router.push("/");
        })
        .catch((error) => {
          console.log(error);
          this.errorMessage = "Invalid Logout";
        });
    },
    components: {
      login: LoginComponent,
      error: ErrorComponent,
      "image-picker": ImagePickerComponent,
    },
  },
};
</script>
