<template>
  <table class="table table-striped">
    <thead>
      <create-product v-if="$store.state.loggedUser && $store.state.loggedUser.type === 'EM' && !editID"
        :types="types"
      ></create-product>
      
      <edit-product v-else-if="editID" :product="products.filter((product) => product.id == this.editID)[0]" :key="editID" :types="types"></edit-product>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <select v-model="selectedType">
            <option></option>
            <option v-for="type in types" :value="`${type}`" :key="type">
              {{ type.charAt(0).toUpperCase() + type.slice(1) }}
            </option>
          </select>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr v-for="product in filteredProducts" :key="product.id">
        <td>
          <img
            :src="`storage/products/${product.photo_url}`"
            class="img-thumbnail"
          />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>
          {{ product.type.charAt(0).toUpperCase() + product.type.slice(1) }}
        </td>
        <td>{{ product.price }}€</td>
        <td>
          <a class="btn btn-xs btn-primary">Add to cart</a>
          <a v-if="$store.state.loggedUser && $store.state.loggedUser.type === 'EM'" class="btn btn-xs btn-secondary" @click="selectID(product.id)" @finished ="render">Edit</a>
          <a v-if="$store.state.loggedUser && $store.state.loggedUser.type === 'EM'" class="btn btn-xs btn-secondary">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import createProduct from "../components/create-product.vue";
import editProduct from '../components/edit-product.vue';

export default {
  components: { createProduct, editProduct },
  data: function () {
    return {
      products: [],
      publicPath: process.env.BASE_URL,
      types: ["drink", "dessert", "hot dish", "cold dish"],
      selectedType: "",
      editID: false,
    };
  },
  methods: {
    getProducts: function () {
      axios.get("api/products").then((response) => {
        this.products = response.data;
      });
    },
    selectID: function(prodID){
      this.editID = prodID;
      console.log(prodID);
      this.$forceUpdate();
    },
    render(){
      this.$forceUpdate();
      this.editID = false;
    },
  },
  computed: {
    filteredProducts() {
      let productList = this.products;
      if(this.editID){
        productList = this.products.filter((product) => product.id != this.editID)
        console.log(this.products.filter((product) => product.id == this.editID)[0])
      }
      if (this.selectedType === "") {
        return productList;
      } else {
        const type = this.selectedType;
        return productList.filter((product) => (product.type == type));
      }
    },
  },
  mounted() {
    this.getProducts();
    
  },
};
</script>
<style scoped lang="scss">
  .img-thumbnail {
    height: 250px;
}
</style>