<template>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" :key="user.id">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ type[user.type] }}</td>
        <td>
          <a class="btn btn-xs btn-primary" 
            >Edit</a
          >
          <a class="btn btn-xs btn-danger"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data: function () {
    return {
      users: [],
      type: {
          "C": "Customer",
          "EC": "Cook",
          "ED": "Distributor",
          "EM": "Manager"
      }
    };
  },
  methods: {
    getUsers: function () {
      axios.get("api/users").then((response) => {
        this.users = response.data;
      });
    },
  },
  mounted() {
      this.getUsers();
  }

}
</script>

<style>

</style>