<template>
  <div class="jumbotron">
    <h2>Login</h2>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input
        type="text"
        class="form-control"
        v-model="user.name"
        name="name"
        id="inputName"
        placeholder="Full Name"
      />
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input
        type="email"
        class="form-control"
        v-model="user.email"
        name="email"
        id="inputEmail"
        placeholder="Email address"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        class="form-control"
        v-model="user.password"
        name="password"
        id="inputPassword"
      />
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input
        type="text"
        class="form-control"
        v-model="user.address"
        name="address"
        id="inputAddress"
        placeholder="Address"
      />
    </div>
    <div class="form-group">
      <label for="inputPhone">Phone Number</label>
      <input
        type="number"
        class="form-control"
        v-model="user.phone"
        name="phone"
        id="inputPhone"
        placeholder="Phone Number"
      />
    </div>
    <div class="form-group">
      <label for="inputNif">NIF</label>
      <input
        type="number"
        class="form-control"
        v-model="user.nif"
        name="nif"
        id="inputNif"
        placeholder="Phone Number"
      />
    </div>
    <div class="form-group">
      <a class="btn btn-default" v-on:click.prevent="createUser()">Create User</a>
    </div>
  </div>
</template>
<script>
export default {
  data: function () {
   
  },
  methods: {
    createUser(){
            this.$emit('create-user',this.user)
        },
 
  },
};
</script>