<template>
  <tr>
    <th>
      <image-picker @input="selectImage"></image-picker>
    </th>
    <th><input type="text" placeholder="Name" v-model="product.name" /></th>
    <th>
      <input
        type="textarea"
        placeholder="Description"
        v-model="product.description"
      />
    </th>
    <th>
      <select v-model="product.type">
        <option></option>
        <option v-for="type in types" :value="`${type}`" :key="type">
          {{ type.charAt(0).toUpperCase() + type.slice(1) }}
        </option>
      </select>
    </th>

    <th><input type="text" placeholder="Price" v-model="product.price" /></th>
    <th>
      <a class="btn btn-xs btn-primary" @click="submitProduct()">Add Product</a>
    </th>
  </tr>
</template>
<script>
import imagePicker from "../components/image-picker.vue";
export default {
  components: { imagePicker },
  data: function () {
    return {
      product: {},
      bodyFormData: {},
    };
  },
  props: ["types"],
  methods: {
    selectImage: function (image) {
      this.product.photo_url = image;
    },
    submitProduct: function () {
      this.bodyFormData = new FormData();
      this.bodyFormData.append('photo_url', this.product.photo_url);
      this.bodyFormData.append('name', this.product.name);
      this.bodyFormData.append('type', this.product.type);
      this.bodyFormData.append('price', this.product.price);
      this.bodyFormData.append('description', this.product.description);

      axios({
        method: "post",
        url: "/api/products",
        data: this.bodyFormData,
        headers: { "Content-Type": "multipart/form-data" },
      })
        .then((response) => {
          this.product = {};
        })
        .catch((error) => {
          console.log(error);
        });

        this.$emit('finished');
    },
  },
};
</script>
