<template>
  <tr>
    <th>
      <image-picker
        @input="selectImage"
        :oldImg="edProduct.photo_url"
      ></image-picker>
    </th>
    <th><input type="text" placeholder="Name" v-model="edProduct.name" /></th>
    <th>
      <input
        type="textarea"
        placeholder="Description"
        v-model="edProduct.description"
      />
    </th>
    <th>
      <select v-model="edProduct.type">
        <option></option>
        <option v-for="type in types" :value="`${type}`" :key="type">
          {{ type.charAt(0).toUpperCase() + type.slice(1) }}
        </option>
      </select>
    </th>

    <th><input type="text" placeholder="Price" v-model="edProduct.price" /></th>
    <th>
      <a class="btn btn-xs btn-primary" @click="submitProduct()"
        >Edit Product</a
      >
    </th>
  </tr>
</template>
<script>
import imagePicker from "../components/image-picker.vue";
export default {
  components: { imagePicker },
  data: function () {
    return {
      bodyFormData: {},
      edProduct: this.product,
    };
  },
  props: ["types", "product"],
  methods: {
    selectImage: function (image) {
      this.edProduct.photo_url = image;
    },
    submitProduct: function () {
      this.bodyFormData = new FormData();
      this.bodyFormData.append("photo_url", this.edProduct.photo_url);
      this.bodyFormData.append("name", this.edProduct.name);
      this.bodyFormData.append("type", this.edProduct.type);
      this.bodyFormData.append("price", this.edProduct.price);
      this.bodyFormData.append("description", this.edProduct.description);

      axios({
        method: "POST",
        url: `/api/products/${this.edProduct.id}`,
        data: this.bodyFormData,
        headers: { "Content-Type": "multipart/form-data" },
      })
        .then((response) => {
          this.product = {};
        })
        .catch((error) => {
          console.log(error);
        });

      this.$emit("finished");
    },
  },
};
</script>
