<template>
  <div>
    <div
      class="imagePreviewWrapper"
      :style="{ 'background-image': `url(${previewImage})` }"
      >
    </div>

    <input
      type="file"
      @input="pickFile">
  </div>
</template>

<script>
export default {
  props: ["oldImg"],
  data() {
      return {
        previewImage: (this.oldImg == null ? null : 'storage/products/'+this.oldImg),
      };
    },
  methods: {
      selectImage () {
          this.$refs.fileInput.click()
      },
      pickFile (event) {
        let file = event.target.files
        if (file && file[0]) {
          let reader = new FileReader
          reader.onload = e => {
            this.previewImage = e.target.result
          }
          reader.readAsDataURL(file[0])
          this.$emit('input', file[0])
        }
      }
  },
}
</script>

<style scoped lang="scss">
.imagePreviewWrapper {
    width: 250px;
    height: 250px;
    display: block;
    cursor: pointer;
    margin: 0 auto 30px;
    background-size: cover;
    background-position: center center;
    float: left;
}
</style>